@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: Spinnaker, 'Times New Roman', Times, serif;
}

.globe-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 99%;
  margin-top: 20px;
}

.leaflet-container{
  height: 300px;
}

.logo{
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
}

/* Previous logo css sheet
  width: 250px;
  height: 250px;
  padding: 10px;
  margin-left: 40px;
  margin-top: 40px; */

.image-Slider{
  width: 100%;
  height: 100%;
}

.Main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Main-banner > img {
  width: 90%;
  height: 90%;
}

.card-container{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 50px;
}

.cards{
  display: flex;
  gap: 50px;
}

.Img-Slider{
  padding: 20px;
}

.slider-image{
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 600px; 
  margin: 0 auto;
}

.weather-card{
  border: 1px;
  border-radius: 20px;
  width: 20%;
  height: 20%;
  text-align: center;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #B1E2FF99 0%, rgba(255, 255, 255, 0) 71.88%), #FFF;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
}

.weather-cards{
  text-align: center;
}

.Location-Weather{
  display: flex;
  justify-content: center;
}

 .weather-section{
  padding: 30px;
 }

 .Location-description{
  padding: 20px;
  text-wrap: wrap;
 }

 .map-container{
  padding: 20px;
 }

 

 .capitalize-text{
  text-transform: capitalize;
 }

 .Details-titles{
  text-align: center;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 .margin{
  margin-bottom: 45px;
 }

/*Submit Button */
.fancy {
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #cacaca;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #818181;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.form-dates-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.form-dates-grid p {
  padding-right: 10px;
}

.fancy:hover {
  color: white;
  background: #cacaca;
}

.fancy:hover::before {
  width: 1.5rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/* file upload*/ 
.custom-file-upload {
  height: 170px;
  width: 351px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custom-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(75, 85, 99, 1);;
  fill: rgba(75, 85, 99, 1);
}

.custom-file-upload .icon svg {
  height: 80px;
}

.custom-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custom-file-upload input {
  display: none;
}


/* Loading Anim put this in a separate css later*/ 
.LoadingAnim-container{
  justify-content: center;
  display: flex;
  padding: 80px;
 }
.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #000000;
  transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
  }
}